<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<a href="/author/new">New Author</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>

    </tr>
    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">
        </td>
        <td th:text="${author.name}">
        </td>
        <td th:text="${author.surname}">
        </td>

        <td>
            <a th:href="@{/author/}+${author.id}">See</a>
            <a th:href="@{/author/edit/}+${author.id}">Edit</a>
            <a th:href="@{/author/delete/}+${author.id}">Delete</a>

        </td>
    </tr>
</table>
</body>
</html>