<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
<form action="/book" th:object="${book}" method="POST">
    <b>Title:</b><input type="text" th:field="*{title}">
    <br>

    <b>Category:</b>
    <select th:field="*{bookCategory}">
        <option th:each="bookCategory: ${bookCategories}" th:value="${bookCategory.id}" th:text="${bookCategory.name}"></option>
    </select>

    <b>Author:</b>
    <select th:field="*{author}">
        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select>

    <input type="submit" value="Save">
</form>
</body>
</html>