<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<b>Id:</b><span th:text="${book.id}"></span>
<b>Title:</b><span th:text="${book.title}"></span>
<b>Likes:</b><span th:text="${book.likes}"></span>
<b>Category:</b><span th:text="${book.bookCategory.name}"></span>
<b>Author:</b><span th:text="${book.author.name}"></span>
</body>
</html>