<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<b>Id:</b><span th:text="${author.id}"></span>
<b>Name:</b><span th:text="${author.name}"></span>
<b>Surname:</b><span th:text="${author.surname}"></span>
</body>
</html>